html {
  overflow-y: visible;
  font-size: calc(100vw * #{$REM_SIZE} / #{$XX_LARGE_SCREEN_WIDTH});

  @include xxLargeScreenWidthLess {
    font-size: calc(100vw * #{$REM_SIZE} / #{$X_LARGE_SCREEN_WIDTH});
  }

  @include xLargeScreenWidthLess {
    font-size: calc(100vw * #{$REM_SIZE} / #{$X_LARGE_SCREEN_WIDTH});
  }

  @include largeScreenWidthLess {
    font-size: calc(100vw * #{$REM_SIZE} / #{$SMALL_SCREEN_WIDTH});
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

li {
  list-style: none;
}
